*{
    margin: 0;
    padding: 0;
}

.ss{
    display: block;
}
li{

    background-color:gray;
    color: beige;
    display: block
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    
    }
    ol{
        background-color:gray;
        color: beige;
        display: inline-table;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        list-style: none;
        text-decoration: none;
    }